.main {
    padding: 0 0 120px;
    min-height: 100vh;
    background-image: url('./background.png');
    background-repeat: repeat;
}

.main-header {
    position: relative;
    background-color: white;

    &::after {
        position: absolute;
        content: "";
        bottom: -17px;
        left: 0;
        display: block;
        width: 100%;
        height: 24px;
        background-image: url("containers/HomePage/img/zigzag.svg");
        background-position-x: center;
        background-size: auto 34.8px;
        z-index: 5;
        transform: rotate(180deg);
    }
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0 40px;
    width: 100%;
    list-style: none;
}

.main-nav__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 50px;

    &--right {
        margin: 0 0 0 auto;
    }
}

.main-nav__item .item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #aabf4a;

    &:hover {
        color: rgba(#aabf4a, 0.7);
    }
}

.main-nav__item-img {
    margin-left: 20px;
}

.btn {
    display: block;
    padding:  6px 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background-color: #aabf4a;
    border: 2px solid #aabf4a;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    outline: none;

    &:hover {
        background-color: white;
        color: #aabf4a;
    }

    &--remove {
        width: 100px;
        background-color: white;
        border-color: #c01f1b;
        color: #c01f1b;

        &:hover {
            background-color:  #c01f1b;
            color: white;
        }
    }

}
